<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\ControlGastos.Web.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection"
            value="workstation id=GastosDB.mssql.somee.com;packet size=4096;user id=matiasoubi_SQLLogin_1;pwd=8sh53uqg4r;data source=GastosDB.mssql.somee.com;persist security info=False;initial catalog=GastosDB;TrustServerCertificate=True" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
